body {
    text-align: center;
    background-color: #f6fffd;
    color: #292a2e;
    }
p {
    color: #77c474;
    font-family: "Poppins", sans-serif;
}
h1, h2, h3 {
    font-family: "Playfair Display", serif;
}


img {
    width: 100%;
}


/*              FOOTER CSS RULES        */
footer {
    background-color: #292a2e;
    color: #f6fffd;
}
.socialMediaContainer {
	display: flex;
	justify-content: space-evenly;
}
.socialMediaIcon {
	width: 50%;
}