body {
    text-align: center;
    }
p {
    font-family: "Poppins", sans-serif;
}
h1, h2, h3 {
    font-family: "Playfair Display", serif;
}


img {
    width: 100%;
}


/*              FOOTER CSS RULES        */

.socialMediaContainer {
	display: flex;
	justify-content: space-evenly;
}
.socialMediaIcon {
	width: 10%;
}